//后台主样式文件

//引入变量
@import "./vars";
//主题颜色
$--color-primary: $color-primary;
//字体路径
$--font-path: '~element-ui/lib/theme-chalk/fonts';
//引入element-ui的样式
@import "~element-ui/packages/theme-chalk/src/index";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f5f5fa;
}

hr {
  height: 1px;
  background-color: #888;
  opacity: 0.3;
  border: none;
}

//字体
* {
  font-family: "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  font-family: "PingFang SC", "Microsoft YaHei UI", "Microsoft YaHei", "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif;
}

//菜单自定义样式
.layout-side-menu {
  height: calc(100% - 20px);
  padding: 20px 30px 0 30px;
  .el-submenu__title {
    padding-left: 20px !important;
    height: $menu-item-height !important;
    line-height: $menu-item-height !important;
  }

  .el-menu-item {
    height: $menu-item-height !important;
    line-height: $menu-item-height !important;
  }
}

//动画
.fade-enter,
.fade-leave-to {
  transform: translateX(-10px);
  opacity: 0;
}

.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.fade-enter-active,
.fade-leave-active {
  transition: all .3s;
}

//用来计算宽度的span的样式
.span-compute-container {
  position: fixed;
  top: -10000px;
  font-weight: 700;
  font-size: 12px;
  line-height: 23px;
  padding: 0 15px;
  display: inline-block;
}

//按钮半圆角样式
.el-button {
  border-radius: 100px;
  &.el-button--primary {
    background-image: linear-gradient(to right, $color-left, $color-right);
  }
  &.is-plain {
    background-image: inherit;
  }
}
//头部标题栏样式
.jx-header {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  background-color: #fff;
  padding: 18px 20px;
  border-radius: 5px;
  border: 1px solid #ebeef5;
  box-sizing: border-box;

  .header-title {
    font: bold 16px/1.8 Arial;
    color: #40415a;
  }
}
//竖向流式布局
.flex-column-layout {
  height: calc(100% - 1px);
  display: flex;
  flex-direction: column;
}
//圆形按钮统一样式
.el-button.is-circle {
  background-image: inherit;
  background-color: #f4f7fe;
  border-color: #f4f7fe;
  i {
    color: #aeb2c4;
  }
  &:hover {
    background-color: $color-primary;
    i {
      color: #fff;
    }
  }
}
